.container {
	width: 100%;
}

.item {
	display: flex;
	align-items: center;
}

.action {
	order: 10;
	padding: 5px;
	cursor: pointer;
}

.content {
	order: -1;
	flex-grow: 1;
	display: flex;
}

.content input:not(:first-child),
.content select:not(:first-child) {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.content input:not(:last-child),
.content select:not(:last-child) {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}